/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("./img/fondo.jpg");
    /* Imagen de fondo*/
    background-attachment: fixed;
    /* Dejarla fija*/
    background-color: rgb(64, 168, 133);
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

h1,
h2 {
    color: rgb(239, 242, 246);
}

form,
table {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label,
input {
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px 0;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(74, 144, 226);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitbtn {
    width: 100%;
}

.button-edt {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(56, 197, 37);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-del {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(173, 70, 22);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: help;
}

button:hover {
    background-color: rgb(98, 99, 92);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.784);
    text-align: center;
}

tr {
    background-color: rgba(225, 211, 211, 0.725);
}

.actions button {
    margin: 0 5px;
}